<div class="d-flex flex-column h-100 w-100 p-3">
  <div class="flex-min">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Administracja</li>
      <li class="breadcrumb-item">Konfiguracja</li>
      <li class="breadcrumb-item active">Wystawione recepty</li>
    </ol>
  </div>

  <div class="flex-auto min-h-0 bg-white shadow-sm border rounded p-2">
    <dx-data-grid
      [dataSource]="dataSource" [remoteOperations]="true" [showBorders]="true" [rowAlternationEnabled]="true"
      [columnAutoWidth]="true" [allowColumnResizing]="true" columnResizingMode="widget" height="100%" width="100%">

      <dxo-scrolling mode="virtual" rowRenderingMode="virtual"/>
      <dxo-filter-row [visible]="true"/>
      <dxo-header-filter [visible]="true"/>
      <dxi-column dataField="createdDate" dataType="datetime" caption="Data wystawienia" sortOrder="desc" format="dd.MM.yyyy HH:mm"/>
      <dxi-column dataField="prescriptionId" caption="ID Recepty" [allowFiltering]="false" [width]="110" alignment="center"/>
      <dxi-column dataField="visitId"  caption="ID Wizyty" [allowFiltering]="false" [width]="110" alignment="center" cellTemplate="visitLinkTemplate"/>
      <dxi-column dataField="medicamentDisplayText" [width]="250" caption="Lek"/>
      <dxi-column dataField="status" caption="Status" [allowSorting]="false">
        <dxo-lookup [dataSource]="statusDictionary" valueExpr="value" displayExpr="caption"/>
      </dxi-column>
      <dxi-column dataField="patientId" caption="Pacjent">
        <dxo-lookup [dataSource]="patientsDictionary" valueExpr="id" displayExpr="fullName"/>
      </dxi-column>
      <dxi-column dataField="documents" caption="Dokumenty" [allowSorting]="false" [allowFiltering]="false" cellTemplate="documentCellTemplate" />
      <dxi-column dataField="issuerId" caption="Lekarz">
        <dxo-lookup [dataSource]="employees()" valueExpr="id" displayExpr="displayName"/>
      </dxi-column>
      <dxi-column caption="Akcje" [width]="80" alignment="center" [allowSorting]="false" cellTemplate="actionsTemplate"/>
      <div *dxTemplate="let cell of 'visitLinkTemplate'">
        <a [routerLink]="['/Pacjenci', cell.data.patientId, 'Panel', 'Wizyty', cell.value]"
           class="text-primary text-decoration-underline" title="Przejdź do panelu wizyty">
          {{ cell.value }}
        </a>
      </div>
      <div *dxTemplate="let cell of 'documentCellTemplate'">
        <div class="d-flex flex-wrap gap-1">
          @for (doc of getDocuments(cell.value); track doc.id) {
            <dx-button [icon]="getDocumentIcon(doc)" stylingMode="text" [hint]="doc.fileName"
                       (onClick)="downloadDocumentItem(doc)">
            </dx-button>
          }
        </div>
      </div>
      <div *dxTemplate="let cell of 'actionsTemplate'">

        @if (cell.data.status === 3 && cell.data.workItemId) {
          <dx-button
            icon="material-symbols-outlined move_item"
            stylingMode="text"
            hint="Przejdź do recepty (Popraw błąd)"
            (onClick)="goToPrescriptionForm(cell.data)">
          </dx-button>
        }

        @if (cell.data.status === 2) {
          <dx-button
            icon="pdffile"
            stylingMode="text"
            hint="Zobacz etykietę"
            (onClick)="onOpenPrescriptionClick({row: {data: cell.data}})">
          </dx-button>
        }
      </div>
    </dx-data-grid>
  </div>
</div>
